<div class="jumbotron text-center">
  <h1>IMDb Top Rated Movies</h1>
  <p>A list of top rated movies on IMDb</p>
  <%= form_tag movies_path, method: :get, class: "form-inline d-flex justify-content-center", data: { controller: "autosubmit" } do %>
    <%= select_tag :category,
                    options_from_collection_for_select(@categories, :name, :name, @selected_category),
                    prompt: "All categories",
                    class: "form-control categories-dropdown",
                    data: { action: "change->autosubmit#submitForm" } %>
  <% end %>
</div>

<div class="container">
  <div class="page_info text-center my-3">
    <%= page_entries_info(@movies).html_safe %>
  </div>

  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-sm-4">
        <div class="movie-card" data-controller="movie-card" data-movie-card-movie-id="<%= movie.id %>">
          <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>

          <img src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,675,1000_AL_.jpg" alt="The Godfather">
          <h3><%= movie.title %></h3>
          <p>(1972)</p>
          <p>
            <span class="average-tag">
              <span class="fw-bold" data-movie-card-target="average_rating">
                <%= movie.average_rating %>
              </span>
              <span>/10</span>
            </span>

            <span data-movie-card-target="reviews_count"><%= movie.ratings.count %></span>
            <span> reviews</span>
          </p>

          <div class="star-rating">
            <% if user_signed_in? %>
              <div class="star-rating-user">
                <% user_rate = current_user.rating(movie.id) %>
                <span class="tag" data-action="click->movie-card#deleteRating">
                  <span class="user_rating">
                    <span>Your rating: </span>
                    <span class="fw-bold" data-movie-card-target="user_rating">
                      <%= user_rate.zero? ? 'Not graded yet' : user_rate %>
                    </span>
                  </span>

                  <span class="delete-rating">Delete rating</span>
                </span>
              </div>

              <div class="star-rating-stars">
                <% (1..10).each do |i| %>
                  <span class="star <%= user_rate >= i ? 'full-star' : 'empty-star' %>"
                    data-movie-card-target="star"
                    data-action="click->movie-card#rateMovie"
                    data-rating="<%= i %>">
                    &#9733;
                  </span>
                <% end %>
              </div>
            <% else %>
              <p>Log in to evaluate</p>
            <% end %>

            <div class="movie-categories">
              <% movie.categories.each do |category| %>
                <%= link_to category.name, root_path(category: category.name), class: "tag" %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @movies %>
</div>
