<div class="container" data-controller="movie-card" data-movie-card-movie-id="<%= @movie.id %>">
  <% if @movie.image.attached? %>
    <%= image_tag @movie.image.variant(resize: "300x300"), class: "cover" %>
  <% end %>

  <% if current_user&.admin? %>
    <div class="d-flex justify-content-end gap-1 mt-3">
      <%= button_to 'Edit', edit_admin_movie_path(@movie), method: :get, class: "btn btn-outline-success" %>
      <%= button_to 'Delete', admin_movie_path(@movie), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this movie?' }, method: :delete, class: "btn btn-outline-danger" %>
    </div>
  <% end %>

  <div class="details">
    <div class="movie-title">
      <%= @movie.title %>
      <span class="fw-bold" data-movie-card-target="average_rating"><%= @movie.average_rating %></span>
    </div>

    <% if user_signed_in? %>
      <% user_rate = current_user.rating(@movie.id) %>
      <div class="star-rating">
        <%= render 'rating_stars', user_rate: user_rate %>
      </div>

      <span class="fw-bold user-rating" data-movie-card-target="user_rating">
        <%= user_rate.zero? ? 'Not graded yet' : user_rate %>
      </span>

      <button type="button" class="btn-close" aria-label="Close" data-action="click->movie-card#deleteRating"></button>
    <% end %>

    <span class="likes" data-movie-card-target="reviews_count">
      <%= @movie.ratings.count %>
    </span>
  </div>

  <div class="description">

    <% if current_user&.admin? %>

      <div class="categories-column" data-controller="movie-category" data-movie-id="<%= @movie.id %>">
        <% Category.all.each do |category| %>
          <% if @movie.categories.include?(category) %>
            <span class="tag admin-tag-disabled" data-action="click->movie-category#delete" data-category-id="<%= category.id %>"><%= category.name %></span>
          <% else %>
            <span class="tag admin-tag-enabled" data-action="click->movie-category#add" data-category-id="<%= category.id %>"><%= category.name %></span>
          <% end %>
        <% end %>
      </div>

    <% else %>

      <div class="categories-column">
        <% @movie.categories.each do |category| %>
          <span class="tag"><%= category.name %></span>
        <% end %>
      </div>

    <% end %>

    <div class="description-column">
      <p><%= @movie.description.body.to_s.html_safe %></p>
      <p>Duration: <%= @movie.duration %>
      <p>Actors: <%= @movie.actors %>

      <h3>Comments</h3>
      <% if @movie.comments.blank? %>
        <p>No comments</p>
      <% end %>

      <% @movie.comments.each do |c| %>
        <div class="mb-3">
          <%= render 'comments/comment', comment: c %>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <hr>
        <%= render 'comments/form', movie: @movie %>
      <% end %>
    </div>
  </div>
</div>
