<div class="container" data-controller="image-preview">
  <h1 class="text-center">Create Movie</h1>

  <%= simple_form_for @movie, url: admin_movies_path, method: :post, local: true do |form| %>
    <%= form.input :title, label: "Title" %>
    <%= form.input :year, label: "Year" %>
    <%= form.input :description, label: "Description", as: :rich_text_area %>
    <%= form.input :image, label: "Image", as: :file, input_html: { data: { "action" => "change->image-preview#updatePreview" } } %>

    <div class="image-preview mb-3 d-none">
      <img src="#" data-image-preview-target="preview">
    </div>

    <%= form.button :submit, "Create", class: "btn btn-primary" %>
  <% end %>

  <div class="d-flex justify-content-between">
    <%= link_to 'Back', @movie, class: "btn btn-link" %>
    <%= link_to 'Main', movies_path, class: "btn btn-link" %>
  </div>
</div>
